<ion-view view-title="Mes médicaments">
  <ion-content>
    <div class="list">

      <div class="item item-button-right">
       Liste de mes médicaments  <button class="button button-light" ng-click="refreshMedicament()"><i class="icon ion-loop" ></i> </button>
      </div>

      <ion-item ng-repeat='medicament in medicaments'>
        {{medicament.name}}
        <button class="button button-small button-positive">
          <i class="icon ion-edit"></i>
        </button>
        <button class="button button-small button-assertive">
          <i class="icon ion-trash-a"></i>
        </button>
      </ion-item>
      <div class="row responsive-sm">
        <div class="col">
          <button class="button button-block" ng-click="add()"><i class="icon ion-plus-circled"></i> Ajouter un médicament</button>
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>
